In [1]:
print("Hallo World!")

Hallo World!

In [3]:
### TIPE DATA TUNGGAL

In [4]:
#Integer
print(10)
print(type(10))

10
<class 'int'>

In [1]:
#Boolean
print(type(True))
print(type(False))

<class 'bool'>
<class 'bool'>

In [2]:
#Float
print(4.2)
print(type(4.2))

print(4.)

print(.2)

print(.4e7)

print(4.2e-4)

4.2
<class 'float'>
4.0
0.2
4000000.0
0.00042

In [6]:
#Strings
print("Reesa Rosyid")
print(type("Reesa Rosyid"))

Reesa Rosyid
<class 'str'>

In [7]:
#Pendeklarasian Variabel
n = 300
print(n)

300

In [8]:
n

300

In [9]:
# Jika kamu merubah nilai dari n dan menggunakan lagi, nilai baru akan disubstitusikan

n = 1000
print(n)

1000

In [10]:
n

1000

In [12]:
a = b = c = 300
print(a,b,c)

300 300 300

In [13]:
#Tipe variabel pada python

var = 23.5
print(var)

var = "Sekarang aku adalah string"
print(var)

23.5
Sekarang aku adalah string

In [14]:
#Nama variabel
name = "Reesa Rosyid"
age = 20
has_pc = True
print(name, age, has_pc)

Reesa Rosyid 20 True

In [15]:
#Nama variabel tidak boleh dimulai dengan angka
666_a = True

SyntaxError: invalid decimal literal (3331138734.py, line 2)

In [16]:
#Penamaan yang benar
age = 1
Age = 2
aGe = 3
AGE = 4
a_g_e = 5
_age = 6
age_ = 7
_AGE_ = 8
print(age, Age, aGe, AGE, a_g_e, _age, age_, _AGE_)

1 2 3 4 5 6 7 8

In [17]:
#Operator dan Ekspresi di Python
a = 10
b = 20
a+b

30

In [7]:
#Aritmatika operasi

a = 4
b = 3
print(a+b)
print(a-b)
print(a*b)
print(a/b)#selalu float
print(a//b)
print(a%b)
print(a**b)

7
1
12
1.3333333333333333
1
1
64

In [19]:
#Operasi perbandingan

a = 10
b = 20

print(a == b)
print(a != b)
print(a <= b)
print(a >= b)

a = 10
b = 20
print(a == b)
print(a <= b)
print(a >= b)

False
True
True
False
False
True
False

In [20]:
#Manipulasi String

#+operator
s = 'foo'
t = 'bar'
u = 'baz'
print(s+t)
print(s+t+u)
print('Reesa'+'Rosyid')

foobar
foobarbaz
ReesaRosyid

In [21]:
#*operator
s*4

'foofoofoofoo'

In [22]:
#Case conversion
s = 'ReEsA RoSyId'
#kapital
print(s.capitalize())
#kecil
print(s.lower())
#kebalikan
print(s.swapcase())
#judul
print(s.title())
#besar
print(s.upper())

Reesa rosyid
reesa rosyid
rEeSa rOsYiD
Reesa Rosyid
REESA ROSYID

In [23]:
### TIPE DATA MAJEMUK

In [24]:
thislist = ["apple", "banana", "cherry"]
print(thislist)

['apple', 'banana', 'cherry']

In [27]:
#List harus urut
thislist = ["apple", "banana", "cherry"]
thatlist = ["banana", "cherry", "apple"]
thislist == thatlist

False

In [28]:
#List dapat berisi banyak macam tipe data
a = [21.42, 'foobar', 3, 4, 'bark', False, 3.14]
print(a)

[21.42, 'foobar', 3, 4, 'bark', False, 3.14]

In [29]:
#List dapat diakses melalui index
a = [21.42, 'foobar', 3, 4, 'bark', False, 3.14]
#dari depan
print(a[0])
print(a[4])
#dari belakang
print(a[-1])
print(a[-6])

21.42
bark
3.14
foobar

In [31]:
#Akses list dengan jangkauan
a = [21.42, 'foobar', 3, 4, 'bark', False, 3.14]
print(a[1:4])

['foobar', 3, 4]

In [32]:
#Konkatnasi (+) dan replikasi (*) pada list
a = [21.42, 'foobar', 3, 4, 'bark', False, 3.14]
print(a+['apple', 'banana'])
print(a*2)

[21.42, 'foobar', 3, 4, 'bark', False, 3.14, 'apple', 'banana']
[21.42, 'foobar', 3, 4, 'bark', False, 3.14, 21.42, 'foobar', 3, 4, 'bark', False, 3.14]

In [34]:
#Length, min, max
b = ["apple", "banana", "cherry"]
print(b)
print(len(b))
print(min(b))
print(max(b))

['apple', 'banana', 'cherry']
3
apple
cherry

In [35]:
#Modifikasi value list
a = [21.42, 'foobar', 3, 4, 'bark', False, 3.14]
a[2] = 'Reesa'
a[-2] = True
print(a)

[21.42, 'foobar', 'Reesa', 4, 'bark', True, 3.14]

In [36]:
#Menghapus value list

del a[0]
print(a)

['foobar', 'Reesa', 4, 'bark', True, 3.14]

In [3]:
#Menambah value list
thislist = ["apple", "banana", "cherry"]
thislist.append("orange")
print(thislist)

['apple', 'banana', 'cherry', 'orange']

In [5]:
t = ('foo', 'baz', 'qux')
print(t)

('foo', 'baz', 'qux')

In [6]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}