In [2]:
import pickle
import pandas as pd

with open("pipeline.pkl","rb") as f:
    model = pickle.load(f)

In [15]:
columns = ['Pclass', 'Sex', 'Age', 'SibSp', 'Parch', 'Fare']
new_data = [3, 1, 20, 0, 2, 5]

In [16]:
df_data = pd.DataFrame([new_data], columns=columns)
df_data

   Pclass  Sex  Age  SibSp  Parch  Fare
0       3    1   20      0      2     5

In [17]:
res = model.predict(df_data)
res[0]

0

In [18]:
"Survived" if res[0] == 1 else "Not Survived"

'Not Survived'

In [3]:
import requests

URL = "https://pyks10-deploy.herokuapp.com"
param = {'pclass':3,
        'sex':1,
        'age':20,
        'sibsp':0,
        'parch':0,
        'fare':100}

r = requests.get(URL, params=param)
r.json()

{'result': 'Not Survived'}